@font-face {
  font-family: "Futura Demi";
  src: url("FuturaDemiC.eot?#iefix") format("embedded-opentype"), url("FuturaDemiC.woff") format("woff"), url("FuturaDemiC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura Book";
  src: url("FuturaBookC.eot?#iefix") format("embedded-opentype"), url("FuturaBookC.woff") format("woff"), url("FuturaBookC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(250, 250, 250);
}

.container {
  max-width: 1160px;
  max-height: 50px;
  margin: 0 auto;
  position: relative;
  color: rgb(48, 47, 45);
}

.hero {
  position: relative;
}

.hero__button {
  width: 18px;
  height: 18px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 139px;
  right: 2px;
  cursor: pointer;
}

.hero__text {
  font-size: 50px;
  margin-bottom: 60px;
  font-family: "Futura Demi";
  line-height: 50px;
}

.hero__link {
  font-family: "Futura Book";
  color: rgb(48, 47, 45);
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
}

.small {
  display: none;
}

.hero__link:hover {
  color: rgb(230, 86, 57);
  transition: all 0.2s ease-out 0s;
}

.hero__search {
  position: absolute;
  font-family: "Futura Book";
  width: 305px;
  height: 50px;
  margin: 0px auto 0px 135px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-image: initial;
  border-bottom: 2px solid rgb(48, 47, 45);
  background: transparent;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  right: 0px;
  top: 123px;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: url(../img/cross.svg);
  margin-right: 44px;
  margin-top: 3px;
}

.hero__search:focus {
  outline: none;
}

.hero__nav {
  display: flex;
  gap: 30px;
}

.hr-top {
  width: 1160px;
  height: 0px;
  border: 1px solid rgb(230, 230, 230);
  margin-bottom: 29px;
}

.hr-bot {
  width: 1160px;
  height: 0px;
  border: 1px solid rgb(230, 230, 230);
  margin-top: 31px;
}

.faq__title {
  font-family: "Futura Book";
  margin-top: 80px;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 25px;
}

.collapsible {
  background-color: transparent;
  color: rgb(48, 47, 45);
  cursor: pointer;
  height: 75px;
  width: 100%;
  border-right: none;
  border-bottom: none;
  border-left: none;
  border-image: initial;
  border-top: 1px solid rgb(230, 230, 230);
  text-align: left;
  outline: none;
  font-size: 20px;
  line-height: 25px;
  font-weight: 500;
  padding-bottom: 3px;
}

.content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out 0s;
}

.faq__item {
  font-family: "Futura Book";
  padding-top: 6px;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  padding-left: 14px;
}

.last {
  margin-bottom: 25px;
}

.faq__li {
  font-family: "Futura Demi";
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  margin-left: -11px;
  position: absolute;
}

.close::after {
  content: url(../img/plus.png);
  color: rgb(230, 86, 57);
  width: 20px;
  height: 20px;
  transition: 0.2s ease-out;
  margin-left: 1126px;
}

.open::after {
  content: url(../img/minus.png);
  color: rgb(230, 86, 57);
  width: 20px;
  height: 20px;
  transition: 0.2s ease-out;
  margin-left: 1126px;
}

.faq__list {
  padding-left: 21px;
}

.faq__paragraph {
  font-family: "Futura Book";
  width: 860px;
  margin: 25px 0px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
}

.help {
  background-color: rgb(255, 255, 255);
  width: 1160px;
  height: 350px;
  margin-top: 80px;
  margin-bottom: 80px;
  position: relative;
}

.help__h1 {
  width: 760px;
  height: 30px;
  font-family: "Futura Demi";
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  margin-top: 78px;
  left: 199px;
  position: absolute;
}

.help__paragraph {
  width: 760px;
  height: 50px;
  font-family: "Futura Book";
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  position: absolute;
  margin-top: 127px;
  margin-left: 199px;
}

.help__button {
  width: 260px;
  height: 50px;
  background: rgb(230, 86, 57);
  border: none;
  color: rgb(255, 255, 255);
  font-family: "Futura Demi";
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  position: absolute;
  margin-top: 216px;
  margin-left: 199px;
}

.help__button:hover {
  cursor: pointer;
  background: rgb(204, 56, 26);
  transition: all 0.2s ease-out 0s;
}

@media screen and (max-width: 1020px) {
  .container {
    width: 920px;
  }

  .hero__search {
    left: 504px;
    width: 280px;
    font-size: 20px;
  }

  .close::after {
    margin-left: 900px;
  }

  .open::after {
    margin-left: 900px;
  }

  .hr-top {
    width: 920px;
  }

  .hr-bot {
    width: 920px;
  }

  .hero__button {
    position: absolute;
    top: 139px;
    right: 2px;
  }

  .collapsible {
    width: 920px;
  }

  .faq__li {
    margin-left: 0;
  }

  .large {
    display: none;
  }

  .small {
    display: contents;
  }
}

@media screen and (max-width: 760px) {
  .container {
    width: 690px;
  }

  .hero__search {
    left: 275px;
    top: 172px;
    width: 280px;
    font-size: 20px;
  }

  .close::after {
    margin-left: 670px;
  }

  .open::after {
    margin-left: 670px;
  }

  .hr-top {
    width: 690px;
  }

  .faq__li {
    margin-left: 0;
    width: 420px;
  }

  .help {
    width: 690px;
  }

  .help__h1 {
    left: 80px;
  }

  .help__paragraph {
    margin-left: 80px;
  }

  .help__button {
    margin-left: 80px;
  }

  .hr-bot {
    width: 690px;
  }

  .hero__button {
    position: absolute;
    top: 188px;
    right: 2px;
  }

  .collapsible {
    width: 690px;
    margin-bottom: 25px;
  }

  .faq__paragraph {
    width: 450px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .faq__image {
    width: 450px;
    height: 330px;
    margin-top: 18px;
    margin-bottom: 37px;
  }
  .adaptive {
    width: 450px;
  }
  .quote {
    display: none;
  }
}