* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #FAFAFA;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.hero {
  max-width: 1160px;
  max-height: 50px;
  margin: 0 auto;
  margin-top: 170px;
  position: relative;
  color: #302F2D;
}

.hero__text {
  font-size: 50px;
  margin-bottom: 60px;
}

.hero__link {
  color: #302F2D;
  text-decoration: none;
  font-size: 20px;
  align-items: center;

  float: left;
}

.hero__nav {
  display: flex;
  gap: 30px;
}

.hr-top {
  width: 1160px;
  height: 0px;
  border: 1px solid #E6E6E6;
  margin-bottom: 32px;
}

.hr-bot {
  width: 1160px;
  height: 0px;
  border: 1px solid #E6E6E6;
  margin-top: 33px;
}

